.wrapper {
  height: 900px;
  background-image: url("https://media.bitdegree.org/storage/media/images/2018/10/The-Most-Essential-React-Interview-Questions.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 50px;
}
.App {
  color: #ffffff;
  border-radius: 20px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 44px;
  padding: 200px 150px;
}
.button {
  font-size: 24px;
  padding: 10px;
}
.input {
  font-size: 20px;
  padding: 5px;
}
.panelBlock {
  min-width: 300px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 40px;
}
.maxValueColor {
  color: red
}

